# Projeto Aplicado I - Mackenzie

In [93]:
# Importando bibliotecas necessárias
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [94]:
# Carregando os datasets em DataFrames do Pandas
closed_deals_df = pd.read_csv("dataset/olist_closed_deals_dataset.csv")
qualified_leads_df = pd.read_csv("dataset/olist_marketing_qualified_leads_dataset.csv")

In [95]:
# Analisando as primeiras linhas do DataFrame de negócios fechados
closed_deals_df.head()

,mql_id,seller_id,sdr_id,sr_id,won_date,business_segment,lead_type,lead_behaviour_profile,has_company,has_gtin,average_stock,business_type,declared_product_catalog_size,declared_monthly_revenue
0,5420aad7fec3549a85876ba1c529bd84,2c43fb513632d29b3b58df74816f1b06,a8387c01a09e99ce014107505b92388c,4ef15afb4b2723d8f3d81e51ec7afefe,2018-02-26 19:58:54,pet,online_medium,cat,NaN,NaN,NaN,reseller,NaN,0.0
1,a555fb36b9368110ede0f043dfc3b9a0,bbb7d7893a450660432ea6652310ebb7,09285259593c61296eef10c734121d5b,d3d1e91a157ea7f90548eef82f1955e3,2018-05-08 20:17:59,car_accessories,industry,eagle,NaN,NaN,NaN,reseller,NaN,0.0
2,327174d3648a2d047e8940d7d15204ca,612170e34b97004b3ba37eae81836b4c,b90f87164b5f8c2cfa5c8572834dbe3f,6565aa9ce3178a5caf6171827af3a9ba,2018-06-05 17:27:23,home_appliances,online_big,cat,NaN,NaN,NaN,reseller,NaN,0.0
3,f5fee8f7da74f4887f5bcae2bafb6dd6,21e1781e36faf92725dde4730a88ca0f,56bf83c4bb35763a51c2baab501b4c67,d3d1e91a157ea7f90548eef82f1955e3,2018-01-17 13:51:03,food_drink,online_small,NaN,NaN,NaN,NaN,reseller,NaN,0.0
4,ffe640179b554e295c167a2f6be528e0,ed8cb7b190ceb6067227478e48cf8dde,4b339f9567d060bcea4f5136b9f5949e,d3d1e91a157ea7f90548eef82f1955e3,2018-07-03 20:17:45,home_appliances,industry,wolf,NaN,NaN,NaN,manufacturer,NaN,0.0

In [96]:
# Analisando as primeiras linhas do DataFrame de leads qualificados
qualified_leads_df.head()

,mql_id,first_contact_date,landing_page_id,origin
0,dac32acd4db4c29c230538b72f8dd87d,2018-02-01,88740e65d5d6b056e0cda098e1ea6313,social
1,8c18d1de7f67e60dbd64e3c07d7e9d5d,2017-10-20,007f9098284a86ee80ddeb25d53e0af8,paid_search
2,b4bc852d233dfefc5131f593b538befa,2018-03-22,a7982125ff7aa3b2054c6e44f9d28522,organic_search
3,6be030b81c75970747525b843c1ef4f8,2018-01-22,d45d558f0daeecf3cccdffe3c59684aa,email
4,5420aad7fec3549a85876ba1c529bd84,2018-02-21,b48ec5f3b04e9068441002a19df93c6c,organic_search

In [97]:
# Fazendo merge dos dois DataFrames com base na coluna 'mql_id'
merged_df = pd.merge(qualified_leads_df, closed_deals_df, on='mql_id', how='left').reset_index(drop=True)
merged_df.info()
merged_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 17 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   mql_id                         8000 non-null   object
 1   first_contact_date             8000 non-null   object
 2   landing_page_id                8000 non-null   object
 3   origin                         7940 non-null   object
 4   seller_id                      842 non-null    object
 5   sdr_id                         842 non-null    object
 6   sr_id                          842 non-null    object
 7   won_date                       842 non-null    object
 8   business_segment               841 non-null    object
 9   lead_type                      836 non-null    object
 10  lead_behaviour_profile         665 non-null    object
 11  has_company                    63 non-null     object
 12  has_gtin                       64 non-null     object
 13  average_stock                  66 non-null     object
 14  business_type                  832 non-null    object
 15  declared_product_catalog_size  69 non-null     float64
 16  declared_monthly_revenue       842 non-null    float64
dtypes: float64(2), object(15)
memory usage: 1.0+ MB

,mql_id,first_contact_date,landing_page_id,origin,seller_id,sdr_id,sr_id,won_date,business_segment,lead_type,lead_behaviour_profile,has_company,has_gtin,average_stock,business_type,declared_product_catalog_size,declared_monthly_revenue
0,dac32acd4db4c29c230538b72f8dd87d,2018-02-01,88740e65d5d6b056e0cda098e1ea6313,social,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8c18d1de7f67e60dbd64e3c07d7e9d5d,2017-10-20,007f9098284a86ee80ddeb25d53e0af8,paid_search,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,b4bc852d233dfefc5131f593b538befa,2018-03-22,a7982125ff7aa3b2054c6e44f9d28522,organic_search,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6be030b81c75970747525b843c1ef4f8,2018-01-22,d45d558f0daeecf3cccdffe3c59684aa,email,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5420aad7fec3549a85876ba1c529bd84,2018-02-21,b48ec5f3b04e9068441002a19df93c6c,organic_search,2c43fb513632d29b3b58df74816f1b06,a8387c01a09e99ce014107505b92388c,4ef15afb4b2723d8f3d81e51ec7afefe,2018-02-26 19:58:54,pet,online_medium,cat,NaN,NaN,NaN,reseller,NaN,0.0

In [98]:
# Verificando valores nulos no DataFrame mesclado
merged_df.isnull().sum()

mql_id                              0
first_contact_date                  0
landing_page_id                     0
origin                             60
seller_id                        7158
sdr_id                           7158
sr_id                            7158
won_date                         7158
business_segment                 7159
lead_type                        7164
lead_behaviour_profile           7335
has_company                      7937
has_gtin                         7936
average_stock                    7934
business_type                    7168
declared_product_catalog_size    7931
declared_monthly_revenue         7158
dtype: int64

In [99]:
# Removendo linhas com valores nulos da coluna 'origin'
cleaned_df = merged_df.dropna(subset=['origin']).reset_index(drop=True)
cleaned_df.info()
cleaned_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7940 entries, 0 to 7939
Data columns (total 17 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   mql_id                         7940 non-null   object
 1   first_contact_date             7940 non-null   object
 2   landing_page_id                7940 non-null   object
 3   origin                         7940 non-null   object
 4   seller_id                      828 non-null    object
 5   sdr_id                         828 non-null    object
 6   sr_id                          828 non-null    object
 7   won_date                       828 non-null    object
 8   business_segment               827 non-null    object
 9   lead_type                      822 non-null    object
 10  lead_behaviour_profile         654 non-null    object
 11  has_company                    61 non-null     object
 12  has_gtin                       62 non-null     object
 13  average_stock                  64 non-null     object
 14  business_type                  818 non-null    object
 15  declared_product_catalog_size  67 non-null     float64
 16  declared_monthly_revenue       828 non-null    float64
dtypes: float64(2), object(15)
memory usage: 1.0+ MB

,mql_id,first_contact_date,landing_page_id,origin,seller_id,sdr_id,sr_id,won_date,business_segment,lead_type,lead_behaviour_profile,has_company,has_gtin,average_stock,business_type,declared_product_catalog_size,declared_monthly_revenue
0,dac32acd4db4c29c230538b72f8dd87d,2018-02-01,88740e65d5d6b056e0cda098e1ea6313,social,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8c18d1de7f67e60dbd64e3c07d7e9d5d,2017-10-20,007f9098284a86ee80ddeb25d53e0af8,paid_search,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,b4bc852d233dfefc5131f593b538befa,2018-03-22,a7982125ff7aa3b2054c6e44f9d28522,organic_search,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6be030b81c75970747525b843c1ef4f8,2018-01-22,d45d558f0daeecf3cccdffe3c59684aa,email,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5420aad7fec3549a85876ba1c529bd84,2018-02-21,b48ec5f3b04e9068441002a19df93c6c,organic_search,2c43fb513632d29b3b58df74816f1b06,a8387c01a09e99ce014107505b92388c,4ef15afb4b2723d8f3d81e51ec7afefe,2018-02-26 19:58:54,pet,online_medium,cat,NaN,NaN,NaN,reseller,NaN,0.0

In [100]:
# Criando coluna indicadora de conversão e verificando quantos leads foram convertidos
cleaned_df['converted'] = cleaned_df['won_date'].notna()
cleaned_df['converted'].value_counts()

converted
False    7112
True      828
Name: count, dtype: int64

In [101]:
# Criando DataFrame apenas com leads convertidos (será utilizado para análises de performance)
converted_leads_df = cleaned_df[cleaned_df['converted'] == True].copy()
converted_leads_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 828 entries, 4 to 7939
Data columns (total 18 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   mql_id                         828 non-null    object
 1   first_contact_date             828 non-null    object
 2   landing_page_id                828 non-null    object
 3   origin                         828 non-null    object
 4   seller_id                      828 non-null    object
 5   sdr_id                         828 non-null    object
 6   sr_id                          828 non-null    object
 7   won_date                       828 non-null    object
 8   business_segment               827 non-null    object
 9   lead_type                      822 non-null    object
 10  lead_behaviour_profile         654 non-null    object
 11  has_company                    61 non-null     object
 12  has_gtin                       62 non-null     object
 13  average_stock                  64 non-null     object
 14  business_type                  818 non-null    object
 15  declared_product_catalog_size  67 non-null     float64
 16  declared_monthly_revenue       828 non-null    float64
 17  converted                      828 non-null    bool
dtypes: bool(1), float64(2), object(15)
memory usage: 117.2+ KB

In [102]:
# Renomeando para maior clareza conceitual
all_leads_df = cleaned_df.copy()

In [103]:
# Convertendo colunas de data para formato datetime em AMBOS os DataFrames
all_leads_df["first_contact_date"] = pd.to_datetime(all_leads_df["first_contact_date"])
all_leads_df["won_date"] = pd.to_datetime(all_leads_df["won_date"])

converted_leads_df["first_contact_date"] = pd.to_datetime(converted_leads_df["first_contact_date"])
converted_leads_df["won_date"] = pd.to_datetime(converted_leads_df["won_date"])

In [104]:
# Calculando tempo de conversão para leads convertidos
converted_leads_df["time_to_close"] = (
    converted_leads_df["won_date"] - converted_leads_df["first_contact_date"]
).dt.days

print(f"Tempo médio de conversão: {converted_leads_df['time_to_close'].mean():.2f} dias")

Tempo médio de conversão: 48.43 dias

In [105]:
# Calculando taxa de conversão
conversion_rate = (all_leads_df['converted'].sum() / len(all_leads_df) * 100)

In [106]:
# Métricas gerais
total_leads = len(all_leads_df)
total_conversoes = all_leads_df['converted'].sum()
total_nao_convertidos = (~all_leads_df['converted']).sum()
taxa_conversao_geral = (total_conversoes / total_leads) * 100

In [107]:
# Resumo geral dos dados
print("RESUMO DOS DADOS PREPARADOS")
print(f"\nDataset com todos os leads:")
print(f"Total de leads: {total_leads}")
print(f"Leads convertidos: {total_conversoes:,}")
print(f"Leads não convertidos: {total_nao_convertidos:,}")
print(f"Taxa de conversão geral: {conversion_rate:.2f}%")

print(f"\nDataset com leads convertidos:")
print(f"Total: {len(converted_leads_df):,}")
print(f"Período: {converted_leads_df['first_contact_date'].min().strftime('%Y-%m-%d')} a {converted_leads_df['first_contact_date'].max().strftime('%Y-%m-%d')}")
print(f"Tempo médio de conversão: {converted_leads_df['time_to_close'].mean():.2f} dias")

print(f"QUALIDADE DOS DADOS:")
print(f"Valores nulos em 'origin': 0 (100% preenchido)")
print(f"Registros válidos para análise: {len(all_leads_df):,}")

RESUMO DOS DADOS PREPARADOS

Dataset com todos os leads:
Total de leads: 7940
Leads convertidos: 828
Leads não convertidos: 7,112
Taxa de conversão geral: 10.43%

Dataset com leads convertidos:
Total: 828
Período: 2017-07-14 a 2018-05-31
Tempo médio de conversão: 48.43 dias
QUALIDADE DOS DADOS:
Valores nulos em 'origin': 0 (100% preenchido)
Registros válidos para análise: 7,940

In [116]:
# Total de leads por canal de origem
leads_por_origem = all_leads_df['origin'].value_counts()
print("TOTAL DE LEADS POR ORIGEM")
print(leads_por_origem)

TOTAL DE LEADS POR ORIGEM
origin
organic_search       2296
paid_search          1586
social               1350
unknown              1099
direct_traffic        499
email                 493
referral              284
other                 150
display               118
other_publicities      65
Name: count, dtype: int64

In [109]:
# Total de conversões por canal de origem
conversoes_por_origem = all_leads_df[all_leads_df['converted'] == True]['origin'].value_counts()
print("\nCONVERSÕES POR ORIGEM")
print(conversoes_por_origem)

CONVERSÕES POR ORIGEM
origin
organic_search       271
paid_search          195
unknown              179
social                75
direct_traffic        56
referral              24
email                 15
display                6
other                  4
other_publicities      3
Name: count, dtype: int64

In [117]:
# Calculando taxa de conversão por origem
taxa_conversao_origem = (conversoes_por_origem / leads_por_origem * 100).round(2)

  # Criando DataFrame consolidado
funil_origem = pd.DataFrame({
    'Total_Leads': leads_por_origem,
    'Conversoes': conversoes_por_origem,
    'Taxa_Conversao_%': taxa_conversao_origem
}).sort_values('Taxa_Conversao_%', ascending=False)

print("\nANÁLISE DE CONVERSÃO POR ORIGEM")
print(funil_origem)

ANÁLISE DE CONVERSÃO POR ORIGEM
                   Total_Leads  Conversoes  Taxa_Conversao_%
origin
unknown                   1099         179             16.29
paid_search               1586         195             12.30
organic_search            2296         271             11.80
direct_traffic             499          56             11.22
referral                   284          24              8.45
social                    1350          75              5.56
display                    118           6              5.08
other_publicities           65           3              4.62
email                      493          15              3.04
other                      150           4              2.67

In [ ]:
 # Gráfico de barras: Total de Leads vs Conversões por Origem
fig, ax = plt.subplots(1, 2, figsize=(16, 6))

# Subplot 1: Total de Leads por Origem
ax[0].barh(funil_origem.index, funil_origem['Total_Leads'], color='steelblue', edgecolor='black')
ax[0].set_xlabel('Número de Leads', fontsize=12)
ax[0].set_ylabel('Canal de Origem', fontsize=12)
ax[0].set_title('Total de Leads por Canal de Origem', fontsize=14, fontweight='bold')
ax[0].grid(axis='x', alpha=0.3, linestyle='--')

# Subplot 2: Taxa de Conversão por Origem
ax[1].barh(funil_origem.index, funil_origem['Taxa_Conversao_%'], color='coral', edgecolor='black')
ax[1].set_xlabel('Taxa de Conversão (%)', fontsize=12)
ax[1].set_ylabel('Canal de Origem', fontsize=12)
ax[1].set_title('Taxa de Conversão por Canal de Origem', fontsize=14, fontweight='bold')
ax[1].grid(axis='x', alpha=0.3, linestyle='--')

plt.tight_layout()
plt.show()